<div class="classifiche-page">
    <h1 style="font-size: 50px;">Ristoranti e utenti migliori</h1>
    <div class="most-rewarded">

        <div class="most-rewarded-restaurants">
            <h2>Ristoranti</h2>
            <% if @top_restaurants.any? %>
                <% @top_restaurants.each_with_index do |restaurant, index| %>
                <div class="most-rewarded-rest-box">
                    <p style="font-weight: bolder; color: #00b072;"><%= index + 1 %></p>
                    <%= image_tag restaurant.cliente.foto || 'background.jpg' %>  

                    <div class="name-and-stars">
                    <h3><%= restaurant.nomeristorante %></h3>
                    <p style="font-weight: bold;"><%= restaurant.media_stelle %> <span style="font-weight: normal;"><ion-icon name="star" style="font-size: 15px;"></ion-icon></span></p>
                    <p style="font-style: italic;"><%= restaurant.n_recensioni %> recensioni</p>
                    </div>
                </div>
                <hr class="solid" id="divider">
                <% end %>
            <% else %>
                <p>Non ci sono ristoranti</p>
            <% end %>
        </div>

        <div class="most-rewarded-users">
            <h2>Utenti</h2>
            <% if @top_users.any? %>
                <% @top_users.each_with_index do |user, index| %>
                    <div class="most-rewarded-user-box">
                    <p style="font-weight: bolder; color: #00b072;"><%= index + 1 %></p>
                    <%= image_tag user.cliente.foto || 'user.jpg' %>   

                    <div class="name-and-stars">
                        <h3><%= user.nome %></h3>
                        <p style="font-weight: bold;">Punti: <span style="font-weight: normal;"><%= user.punti %></span></p>
                        <p style="font-style: italic;"><%= user.cliente.recensione.count %> recensioni</p>
                    </div>
                    </div>
                    <hr class="solid" id="divider">
                <% end %>
            <% else %>
                <p>Non ci sono ristoratori</p>
            <% end %>
        </div>
    </div>
    <h3 style="font-size: 40px;">Classifiche di competizioni a cui partecipi</h3>
    
    <% if @competitions.any? %>
        <% @competitions.each do |competition| %>
        <div class="user-competition-ranking">
            <div class="user-competition-ranking-box">
                <% if competition.locandina.present? %>
                    <%= image_tag competition.locandina %>
                <% else %>
                    <%= image_tag 'background.jpg' %> <!-- Immagine competizione -->
                <% end %>
                <div class="competition-ranking-details">
                    <p style="font-weight: bold;">Nome Competizione: <span style="font-weight: normal;"><%= competition.nome %></span></p>
                    
                    <% if session[:role] == 'User' %>
                        <% user_competition = competition.user_competitions.find_by(user: current_user.cliente.user) %>
                    <% elsif session[:role] == 'Ristoratore' %>
                        <% user_competition = competition.user_competitions.find_by(user: current_user.cliente.ristoratore) %>
                    <% elsif session[:role] == 'Critico' %>
                        <% user_competition = competition.user_competitions.find_by(user: current_user.cliente.user.critico) %>
                    <% else session[:role] == 'Admin' %>
                        <% user_competition = competition.user_competitions.find_by(user: current_user.admin) %>
                    <% end %>
                    <p style="font-weight: bold;">Punti: <span style="font-weight: normal;"><%= user_competition&.punti %></span></p>
                    
                    <h3>Top 3 Giocatori</h3>
                    <% top_3_participants = competition.user_competitions.order(points: :desc).limit(3) %>
                    <% top_3_participants.each_with_index do |participant, index| %>
                        <p style="font-weight: bold;"><%= index + 1 %>. <span style="font-weight: normal;"><%= participant.user.nome %> con punti: <%= participant.punti %></span></p>
                    <% end %>

                    <% if session[:role] != 'Admin' && session[:role] != 'Ristoratore' %>
                        <p style="font-weight: bold;">La tua posizione: <span style="font-weight: normal;">
                        <% if session[:role] == 'User' %>
                            <% user_position = competition.user_competitions.order(points: :desc).pluck(:user_id).index(current_user.cliente.user.id) %>
                        <% elsif session[:role] == 'Critico' %>
                            <% user_position = competition.user_competitions.order(points: :desc).pluck(:user_id).index(current_user.cliente.user.critico.id) %>
                        <% end %>
                        <%= user_position.nil? ? 'Non partecipi a questa competizione' : (user_position + 1) %>
                    <% else %>
                        <p style="font-weight: bold;">Tutti i partecipanti: <span style="font-weight: normal;">
                        <% partecipantiTot = competition.user_competitions.order(points: :desc) %>
                        <% partecipantiTot.each_with_index do |participant, index| %>
                            <p style="font-weight: bold;"><%= index + 1 %>. <span style="font-weight: normal;"><%= participant.user.nome %> con punti: <%= participant.punti %></span></p>
                        <% end %>
                    <% end %>
                    </span></p>
                </div>
            </div>
        </div>
        <% end %>
        <% else %>
            <p>Non partecipi a nessuna competizione<p>
        <% end %>


</div>

