<%= stylesheet_link_tag 'home', media: 'all' %>
<div class="homepage-container">
    <% if logged_in? %>
        <div class="alert" style="font-style: italic; color: #00b072;">
        <p>Benvenuto,
            <% if session[:role] == 'User' %>
            <span style="font-weight: bold;"><%= @current_user.cliente.user.nome %></span>
            <% elsif session[:role] == 'Ristoratore' %>
            <span style="font-weight: bold;"><%= @current_user.cliente.ristoratore.nomeristorante %></span>
            <% end %>
            !
        </p> 
        </div>
    <% end %>
    <div class="h1-container">
        <h1>Consigliati per te</h1>
    </div>
    <div class="recents-container">
        <div class="restaurants-text" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
          <h2>Nuovi Ristoratori</h2>
          <p>Ristoratori aggiunti di recente su FoodAdvisor. Recensiscili per primo!</p>
        </div>
        
        <div class="restaurants-grid" style="animation: scrollLeft 1s;">
            <% @recent_restaurants.each do |ristoratore| %>
                <%= link_to public_restaurant_profile_path(ristoratore.id), class: 'restaurant-link' do %>
                <div class="restaurant-box">
                    <% if ristoratore.cliente.foto.present? %>
                        <%= image_tag ristoratore.cliente.foto %>
                    <% else %>
                        <%= image_tag "background.jpg" %>
                    <% end %>
                    <div class="text-overlay">
                        <%= ristoratore.nomeristorante %> 
                        <p style="font-weight: normal;">5<span style="font-weight: normal;"><ion-icon name="star" style="font-size: 15px;"></ion-icon></p>
                        <p style="font-weight: normal; font-style: italic;">n. recensioni</p>
                    </div>
                </div>
                <% end %>
            <% end %>          
        </div>
      </div>

    <div class="earn-points-container">
        <%= image_tag 'trophy.png' %>
        <div class="text-container">
        <h3 style="color: black;">Guadagna punti!</h3>
        <p style="color: black;">Recensisci i ristoranti e partecipa ai tornei di FoodAdvisor per guadagnare punti!</p>
        <a href="<%= competizioni_path %>"><button type="button">Cominciamo!</button></a>
        </div>
    </div>

    <div class="recents-container">
        <div class="events-text" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
            <h2>Eventi da scoprire</h2>
        <p>Scopri gli eventi più recenti e popolari!</p>

        </div>
        
        <div class="restaurants-grid">
            <% @upcoming_events.each do |evento| %>
                <%= link_to public_restaurant_profile_path(evento.ristoratore_id), class: 'restaurant-link' do %>
              <div class="restaurant-box">
                <% if evento.locandina.present? %>
                    <%= image_tag evento.locandina, class: 'evento-foto'  %>
                <% else %>
                    <%= image_tag 'background.jpg', class: 'evento-foto' %>
                <% end %> 
                <div class="text-overlay" style="background-color: white; text-shadow: none; color: black; bottom: 0; left: 0; width: 100%; border-radius: 0; border: 1px solid #c9c9c9;">
                  <p><%= evento.nome %></p>
                  <p style="font-size: 13px; font-weight: normal;"><%= evento.descrizione %></p>
                  <p style="font-size: 13px; font-weight: normal;"><%= evento.data %></p>
                  <p style="font-size: 13px; font-weight: normal;"><%= evento.luogo %></p>
                </div>
              </div>
              <% end %>
            <% end %>
          </div>
          

        
        
    </div>
    <div class="most-rewarded-container" style="margin-top: 30px; display: flex; align-items: center; width: 100%; background-color:antiquewhite;">
        <div class="most-rewarded-text" style="margin-left: 20%; width: 20%; margin-top: 30px;">
            <h1 style="color: black;">Scopri i Ristoranti più premiati</h1>
            <p style="color: black;">Fatti guidare dagli altri utenti e dai critici per scoprire ristoranti particolarmente graditi.</p>
            <button type="button">Vediamoli!</button>

        </div>
        <div class="most-rewarded-image" style="margin-left: 10%;">
            <%= image_tag 'rank1.png' %>



        </div>
    </div>

    <div class="popular-reviews-and-reserv-container" style="display: flex; margin-top: 30px; justify-content: space-evenly; margin-bottom: 30px;">
        <div class="reviews-container" style="padding: 10px; border-radius: 10px;">
            <h3 style="margin-bottom: 20px;">Recensioni Popolari</h3>
            <div class="popular-reviews-container" style="display: flex; flex-direction: column;">
                <div class="popular-reviews-box" style="display: flex; ">
                    <%= image_tag 'background.jpg' %>
                    <div class="popular-reviews-box-text">
                        <h3>Nome Utente</h3>
                        <p>Testo della Recensione</p>
                        <p style="font-style: italic; font-size: 13px;">Nome Ristorante<span> - </span> <span style="font-style: normal;">Data Recensione</span></p>
                    </div>
                </div>
                <hr class="solid" id="divider">
                <div class="popular-reviews-box" style="display: flex; ">
                    <%= image_tag 'background.jpg' %>
                    <div class="popular-reviews-box-text">
                        <h3>Nome Utente</h3>
                        <p>Testo della Recensione</p>
                        <p style="font-style: italic; font-size: 13px;">Nome Ristorante<span> - </span> <span style="font-style: normal;">Data Recensione</span></p>
                    </div>
                </div>
                <hr class="solid" id="divider">

                <div class="popular-reviews-box" style="display: flex;">
                    <%= image_tag 'background.jpg' %>
                    <div class="popular-reviews-box-text">
                        <h3>Nome Utente</h3>
                        <p>Testo della Recensione</p>
                        <p style="font-style: italic; font-size: 13px;">Nome Ristorante<span> - </span> <span style="font-style: normal;">Data Recensione</span></p>
                    </div>
                </div>
                <hr class="solid" id="divider">

            </div>

        </div>

        <div class="reserv-container" style="margin-left: 30px; display: flex; justify-content: center; align-items: center; width: 20%;">
            <h2>Accedi al <a href="<%=login_path %>"><span style="font-style: italic; cursor: pointer; color: #00b072;">tuo account</span></a>  per effettuare e visualizzare le tue prenotazioni!</h3>

        </div>
    </div>


</div>