<%= stylesheet_link_tag 'login', media: 'all' %>
<div class="homepage-container">
    <div class="h1-container">
        <h1 style="color: black;">Consigliati per te</h1>
    </div>
    <div class="recents-container">
        <h2>Nuovi Ristoranti</h2>
        <p>Ristoranti aggiunti da poco su FoodAdvisor. Recensiscili per primo!</p>
        <div class="restaurants-grid">
            <div class="restaurant-box">
                <%= image_tag 'background.jpg' %>
                <div class="text-overlay">
                    Nome Ristorante
                </div>
            </div>
            <div class="restaurant-box">
                <%= image_tag 'background.jpg' %>
                <div class="text-overlay">
                    Nome Ristorante
                </div>
            </div>
            <div class="restaurant-box">
                <%= image_tag 'background.jpg' %>
                <div class="text-overlay">
                    Nome Ristorante
                </div>
            </div>
            <div class="restaurant-box">
                <%= image_tag 'background.jpg' %>
                <div class="text-overlay">
                    Nome Ristorante
                </div>
            </div>
            
        </div>
        
    </div>

    <div class="earn-points-container">
        <%= image_tag 'trophy.png' %>
        <div class="text-container">
        <h3>Guadagna punti!</h3>
        <p>Recensisci i ristoranti e partecipa ai tornei di FoodAdvisor per guadagnare punti!</p>
        <button type="button">Cominciamo!</button>
        </div>
    </div>

    <div class="recents-container">
        <h2>Eventi da scoprire</h2>
        <p>Scopri gli eventi più recenti e popolari!</p>
        <div class="restaurants-grid">
            
            <div class="restaurant-box">
                <%= image_tag 'background.jpg' %>
                <div class="text-overlay" style="background-color: white; text-shadow: none; color: black; bottom: 0; left: 0; width: 100%; border-radius: 0; border: 1px solid #c9c9c9;">
                    <p>Nome Ristorante</p>
                    <p style="font-size: 13px; font-weight: normal;">Nome Evento</p>
                    <p style="font-size: 13px; font-weight: normal;">data/data/data</p>


                </div>
            </div>
            <div class="restaurant-box">
                <%= image_tag 'background.jpg' %>
                <div class="text-overlay" style="background-color: white; text-shadow: none; color: black; bottom: 0; left: 0; width: 100%; border-radius: 0; border: 1px solid #c9c9c9;">
                    <p>Nome Ristorante</p>
                    <p style="font-size: 13px; font-weight: normal;">Nome Evento</p>
                    <p style="font-size: 13px; font-weight: normal;">data/data/data</p>


                </div>
            </div>
            <div class="restaurant-box">
                <%= image_tag 'background.jpg' %>
                <div class="text-overlay" style="background-color: white; text-shadow: none; color: black; bottom: 0; left: 0; width: 100%; border-radius: 0; border: 1px solid #c9c9c9;">
                    <p>Nome Ristorante</p>
                    <p style="font-size: 13px; font-weight: normal;">Nome Evento</p>
                    <p style="font-size: 13px; font-weight: normal;">data/data/data</p>


                </div>
            </div>
            
            
        </div>
        
    </div>


</div>