<%= stylesheet_link_tag 'ricerca', media: 'all' %>
<div class="ricerca-container">
    <h1 style="font-size: 50px;">Cerca ristoranti</h1>
    <div class="search-container">
    <form id="find-form" action="<%= ricerca_path %>" method="get">
        <div class="find-input" style="display: flex; align-items: center;">
        <button type="submit" style="background: none; border: none; margin-bottom: 80px; cursor: pointer; padding: 0;">
            <ion-icon name="search-outline" style="color: black;"></ion-icon>
        </button>
        <input type="text" id="findbar" name="query" placeholder="Inserisci qui il nome del ristorante" value="<%= params[:query] %>">
        </div>
        <button type="submit" style="display: none;"></button>
        <ion-icon id="filter-icon" name="filter-circle-outline" style="margin-bottom: 30px; margin-left: 30px; cursor: pointer;"></ion-icon>
        <ion-icon name="pin-outline" style="margin-bottom: 30px; margin-left: 30px;"></ion-icon>
    </form>
</div>
    <div class="results-and-details-container">
        <div class="results-container">
            <% @ristoratori.each do |ristoratore| %>
            <% @media = ristoratore.media_stelle%>
            <% @numero = ristoratore.n_recensioni%>
                <div class="result-box">
                    <% if ristoratore.cliente.foto.present? %>
                        <%= link_to public_restaurant_profile_path(ristoratore.id), class: 'restaurant-link' do %>
                        <%= image_tag ristoratore.cliente.foto %>
                        <% end %>
                    <% else %>
                        <%= link_to public_restaurant_profile_path(ristoratore.id), class: 'restaurant-link' do %>
                        <%= image_tag "background.jpg" %>
                        <% end %>
                    <% end %>
                    <div class="result-text">
                        <h3><%= ristoratore.nomeristorante %></h3>
                        <p><%= @media %><ion-icon name="star" style="font-size: 15px;"></ion-icon>, <%= @numero %> recensioni</p>
                        <p><%= ristoratore.indirizzo %></p>
                        <p id="map-details" style="font-style: italic; cursor: pointer;" data-ristoratore-id = <%= ristoratore.id %>>Vedi sulla mappa</p>
                    </div>
                </div>
                <hr class="solid" id="divider">
            <% end %>
        </div>
            
        <div class="vertical-divider"></div>
        <div class="details-container">
        <div class="map-container">
        <iframe 
            id="rest-map"
            width="450" 
            height="450" 
            frameborder="0" style="border:0"
            referrerpolicy="no-referrer-when-downgrade"
            load="lazy" allowfullscreen
            src="">
        </iframe>

        </div>
        
            <p>Posizione sulla mappa</p>
        </div>
    </div>
</div>

<!-- Finestra di dialogo -->
<div id="dialog" class="dialog">
  <div class="dialog-content">
    <span class="close-button">&times;</span>
    <form id="filter-form">
      <h4>Applica dei filtri alla tua ricerca</h4>
      
      <p>Tag:</p>
      <div id="tag-buttons">
        <% @tags.each do |tag| %>
          <button type="button" class="tag-button <%= 'selected' if params[:tags]&.include?(tag.id.to_s) %>" data-tag-id="<%= tag.id %>"><%= tag.nome %></button>
        <% end %>
      </div>

      <p>Stelle:</p>
      <div class="stars">
        <% (1..5).each do |i| %>
          <span class="star <%= 'selected' if params[:star_rating].to_i >= i %>" data-value="<%= i %>">&#9733;</span>
        <% end %>
      </div>
      <p>Numero minimo di recensioni:</p>
      <input type="number" id="min-reviews" name="min_reviews" min="0" value="<%= params[:min_reviews] %>">
      <p>Numero massimo di recensioni:</p>
      <input type="number" id="max-reviews" name="max_reviews" min="0" value="<%= params[:max_reviews] %>">
      <p>Servizio di asporto:</p>
      <input type="checkbox" id="asporto" name="asporto" <%= 'checked' if params[:asporto] == '1' %>>
      <input type="hidden" id="star-rating" name="star_rating" value="<%= params[:star_rating] %>">
      <input type="hidden" id="selected-tags" name="tags[]" value="<%= params[:tags]&.join(',') %>">
      <button type="button" id="apply-filters">Applica filtri</button>
      <button type="button" id="reset-filters">Azzera i filtri</button>
    </form>
  </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', (event) => {
  const dialog = document.getElementById('dialog');
  const filterIcon = document.getElementById('filter-icon');
  const closeButton = document.querySelector('.close-button');
  const stars = document.querySelectorAll('.star');
  const starRatingInput = document.getElementById('star-rating');
  const applyFiltersButton = document.getElementById('apply-filters');
  const resetFiltersButton = document.getElementById('reset-filters');
  const tagButtons = document.querySelectorAll('.tag-button');
  const selectedTagsInput = document.getElementById('selected-tags');

  filterIcon.addEventListener('click', () => {
    dialog.style.display = 'block';
  });

  closeButton.addEventListener('click', () => {
    dialog.style.display = 'none';
  });

  window.addEventListener('click', (event) => {
    if (event.target == dialog) {
      dialog.style.display = 'none';
    }
  });

  stars.forEach(star => {
    star.addEventListener('click', () => {
      const value = star.getAttribute('data-value');
      starRatingInput.value = value;
      stars.forEach(s => s.classList.remove('selected'));
      for (let i = 0; i < value; i++) {
        stars[i].classList.add('selected');
      }
    });
  });

  let selectedTags = <%= params[:tags]&.map(&:to_i) || [] %>;

  tagButtons.forEach(button => {
    button.addEventListener('click', () => {
      const tagId = parseInt(button.getAttribute('data-tag-id'));
      if (selectedTags.includes(tagId)) {
        selectedTags = selectedTags.filter(id => id !== tagId);
        button.classList.remove('selected');
      } else {
        selectedTags.push(tagId);
        button.classList.add('selected');
      }
      selectedTagsInput.value = selectedTags.join(',');
    });
  });

  applyFiltersButton.addEventListener('click', () => {
    const starRating = starRatingInput.value;
    const query = document.getElementById('findbar').value;
    const minReviews = document.getElementById('min-reviews').value;
    const maxReviews = document.getElementById('max-reviews').value;
    const asporto = document.getElementById('asporto').checked ? 1 : 0;

    const tagParams = selectedTags.map(tag => `tags[]=${tag}`).join('&');

    window.location.href = `<%= ricerca_path %>?query=${query}&star_rating=${starRating}&min_reviews=${minReviews}&max_reviews=${maxReviews}&asporto=${asporto}&${tagParams}`;
  });

  resetFiltersButton.addEventListener('click', () => {
    document.getElementById('findbar').value = '';
    starRatingInput.value = '0';
    stars.forEach(star => star.classList.remove('selected'));
    document.getElementById('min-reviews').value = '';
    document.getElementById('max-reviews').value = '';
    document.getElementById('asporto').checked = false;
    selectedTags = [];
    tagButtons.forEach(button => button.classList.remove('selected'));
    selectedTagsInput.value = '';
  });
});

document.addEventListener('DOMContentLoaded', function() {
  document.querySelectorAll('#map-details').forEach(function(element) {
    element.addEventListener('click', function() {
      const ristoratoreId = this.getAttribute('data-ristoratore-id');
      
      fetch(`/ricerca/${ristoratoreId}/map_info`)
        .then(response => response.json())
        .then(data => {
          const mapIframe = document.getElementById('rest-map');
          const placeName = encodeURIComponent(data.name); // Assicurati che il nome sia URL-encoded
          const apiKey = 'YOUR_GOOGLE_MAPS_API_KEY'; 

          mapIframe.src = `https://www.google.com/maps/embed/v1/place?q=${placeName}&key=${apiKey}`;
        })
        .catch(error => console.error('Error fetching map info:', error));
    });
  });
});

</script>
