<%= stylesheet_link_tag 'ricerca', media: 'all' %>
<div class="ricerca-container">
    <h1 style="font-size: 50px;">Cerca ristoranti</h1>
    <div class="search-container">
    <form id="find-form" action="<%= ricerca_path %>" method="get">
        <div class="find-input" style="display: flex; align-items: center;">
        <button type="submit" style="background: none; border: none; margin-bottom: 80px; cursor: pointer; padding: 0;">
            <ion-icon name="search-outline" style="color: black;"></ion-icon>
        </button>
        <input type="text" id="findbar" name="query" placeholder="Inserisci qui il nome del ristorante" value="<%= params[:query] %>">
        </div>
        <button type="submit" style="display: none;"></button>
        <ion-icon id="filter-icon" name="filter-circle-outline" style="margin-bottom: 30px; margin-left: 30px; cursor: pointer;"></ion-icon>
        <ion-icon name="pin-outline" style="margin-bottom: 30px; margin-left: 30px;"></ion-icon>
    </form>
</div>
    <div class="results-and-details-container">
        <div class="results-container">
            <% @ristoratori.each do |ristoratore| %>
            <% @media = ristoratore.media_stelle%>
            <% @numero = ristoratore.n_recensioni%>
                <div class="result-box">
                    <% if ristoratore.cliente.foto.present? %>
                        <%= link_to public_restaurant_profile_path(ristoratore.id), class: 'restaurant-link' do %>
                        <%= image_tag ristoratore.cliente.foto %>
                        <% end %>
                    <% else %>
                        <%= link_to public_restaurant_profile_path(ristoratore.id), class: 'restaurant-link' do %>
                        <%= image_tag "background.jpg" %>
                        <% end %>
                    <% end %>
                    <div class="result-text">
                        <h3><%= ristoratore.nomeristorante %></h3>
                        <p><%=@media%><ion-icon name="star" style="font-size: 15px;"></ion-icon>, <%= @numero %> recensioni</p>
                    </div>
                </div>
                <hr class="solid" id="divider">
            <% end %>
        </div>
            
        <div class="vertical-divider"></div>
        <div class="details-container">
        <div class="map-container">
        <% @ristoranteprova = Ristoratore.find(3) %>
        <% @name = @ristoranteprova.format_restaurant_name%>
        <iframe 
            width="450" 
            height="450" 
            frameborder="0" style="border:0"
            referrerpolicy="no-referrer-when-downgrade"
            load="lazy" allowfullscreen
            src="https://www.google.com/maps/embed/v1/place?q=<%=@name%>&key=AIzaSyC9a9KDxjv1HNDVAeLEVYJDdjX2eYKPRzM">
        </iframe>

        </div>
        
            <p>Indicazioni stradali</p>
        </div>
    </div>
</div>

<!-- Finestra di dialogo -->
<div id="dialog" class="dialog">
    <div class="dialog-content">
        <span class="close-button">&times;</span>
        <form id="filter-form">
            <h4>Applica dei filtri alla tua ricerca</h4>
            <p>Stelle:<p>
            <div class="stars">
                <span class="star" data-value="1">&#9733;</span>
                <span class="star" data-value="2">&#9733;</span>
                <span class="star" data-value="3">&#9733;</span>
                <span class="star" data-value="4">&#9733;</span>
                <span class="star" data-value="5">&#9733;</span>
            </div>
            <p>Tag:</p>
            <P>Km distanza:</p>
            <input type="hidden" id="star-rating" name="star_rating" value="0">
            <button type="button" id="apply-filters">Applica filtri</button>
        </form>
    </div>
</div>
<script>
document.addEventListener('DOMContentLoaded', (event) => {
    const dialog = document.getElementById('dialog');
    const filterIcon = document.getElementById('filter-icon');
    const closeButton = document.querySelector('.close-button');
    const stars = document.querySelectorAll('.star');
    const starRatingInput = document.getElementById('star-rating');
    const applyFiltersButton = document.getElementById('apply-filters');

    filterIcon.addEventListener('click', () => {
        dialog.style.display = 'block';
    });

    closeButton.addEventListener('click', () => {
        dialog.style.display = 'none';
    });

    window.addEventListener('click', (event) => {
        if (event.target == dialog) {
            dialog.style.display = 'none';
        }
    });

    stars.forEach(star => {
        star.addEventListener('click', () => {
            const value = star.getAttribute('data-value');
            starRatingInput.value = value;
            stars.forEach(s => s.classList.remove('selected'));
            for (let i = 0; i < value; i++) {
                stars[i].classList.add('selected');
            }
        });
    });

    applyFiltersButton.addEventListener('click', () => {
        const starRating = starRatingInput.value;
        const query = document.getElementById('findbar').value;
        window.location.href = `<%= ricerca_path %>?query=${query}&star_rating=${starRating}`;
    });
});
</script>