<!-- Mostra il messaggio di successo o errore -->
<% if flash[:notice] %>
  <div class="alert alert-success" role="alert">
    <%= flash[:notice] %>
  </div>
<% end %>

<% if flash[:alert] %>
  <div class="alert alert-danger" role="alert">
    <%= flash[:alert] %>
  </div>
<% end %>

<h3>Utenti registrati</h3>
<div class="nuoviUtenti">
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Cognome</th>
                <th>Nome Ristorante</th>
                <th>Ruolo</th>
                <th>Email</th>
                <th>Indirizzo</th>
                <th>Asporto</th>
                <th>Certificato</th>
                <th>Data Iscrizione</th>
                <th>Segnalato</th>
            </tr>
        </thead>
        <tbody>
            <% @clienti.each do |cliente| %>
                <% 
                    url = if cliente.respond_to?(:ristoratore) && cliente.ristoratore.present?
                            public_restaurant_profile_path(cliente.ristoratore)
                        elsif cliente.user.respond_to?(:critico) && cliente.user.critico.present?
                            public_critic_profile_path(cliente.user.critico)
                        else
                            public_user_profile_path(cliente.user)
                        end
                %>
                <tr data-url="<%= url %>" style="cursor: pointer;">
                    <td><%= cliente.id %></td>
                    <td>
                        <% if cliente.respond_to?(:user) && cliente.user.present? %>
                            <%= cliente.user.nome %>
                        <% end %>
                    </td>
                    <td>
                        <% if cliente.respond_to?(:user) && cliente.user.present? %>
                            <%= cliente.user.cognome %>
                        <% end %>
                    </td>
                    <td>
                        <% if cliente.respond_to?(:ristoratore) && cliente.ristoratore.present? %>
                            <%= cliente.ristoratore.nomeristorante %>
                        <% end %>
                    </td>
                    <td>
                        <% if cliente.respond_to?(:ristoratore) && cliente.ristoratore.present? %>
                            Ristoratore
                        <% elsif cliente.user.respond_to?(:critico) && cliente.user.critico.present? %>
                            Critico
                        <% else %>
                            User
                        <% end %>
                    </td>
                    <td>
                        <% if cliente.respond_to?(:utente) && cliente.utente.present? %>
                            <%= cliente.utente.email %>
                        <% end %>
                    </td>
                    <td>
                        <% if cliente.respond_to?(:ristoratore) && cliente.ristoratore.present? %>
                            <%= cliente.ristoratore.indirizzo %>
                        <% end %>
                    </td>
                    <td>
                        <% if cliente.respond_to?(:ristoratore) && cliente.ristoratore.present? %>
                            <%= cliente.ristoratore.asporto ? 'Sì' : 'No' %>
                        <% end %>
                    </td>
                    <td>
                        <% if cliente.user.respond_to?(:critico) && cliente.user.critico.present? %>
                            <%= cliente.user.critico.certificato ? 'Sì' : 'No' %>
                        <% end %>
                    </td>
                    <td><%= cliente.created_at.strftime('%d/%m/%Y') %></td>
                    <td class="icon-cell"><i class="fa-solid fa-clipboard" data-cliente="<%= cliente.id %>"></i>  <i class="fa-solid fa-person-circle-check" data-cliente="<%= cliente.id %>"></i>  <i class="fa-solid fa-ban" data-cliente="<%= cliente.id %>"></i></td>
                </tr>
            <% end %>

            <% if @clienti.size < 5 %>
                <% (5 - @clienti.size).times do %>
                    <tr>
                        <td colspan="9">&nbsp;</td>
                    </tr>
                <% end %>
            <% end %>
        </tbody>
    </table>
</div>


<h1>Segnalazioni</h1>
<div class="gestioneSegnalazioni">
<% if @segnalazioni.any? %>
  <% @segnalazioni.each do |segnalazione| %>
    <% if segnalazione.recensione_id.present? %>
    <%= @recensione=Recensione.find(segnalazione.recensione_id) %>
    <div class="segnalazione">
      <div class="segnalazioneInfo">
        <p class="info">Da: <%= segnalazione.cliente_id %>  A: <%= @recensione.cliente_id %>  <p>
        <p class="info">Motivo:  </p> <%= segnalazione.motivo %>
      </div>
      <div class="public-r-reviews">
            <% if @recensione.cliente.foto.present? %>
              <%= image_tag @recensione.cliente.foto, class: 'recensione-foto' %>
            <% else %>
              <%= image_tag 'background.jpg', class: 'recensione-foto' %>
            <% end %>
          <div class="public-review-details">
            <p style="font-weight: bold";><%= @recensione.cliente.user.username %></p>
            <p>
              <% @recensione.stelle.times do %>
                <ion-icon name="star" style="font-size: 15px;"></ion-icon>
              <% end %>
            </p>            <p><%= @recensione.commento %></p>
            <p style="font-style: italic; font-size: 13px;">in data <%= @recensione.created_at.strftime('%d/%m/%Y') %></p>
          </div>
          <div class="public-review-icon">
            <i class="fa-regular fa-thumbs-up"></i>
            <i class="fa-solid fa-share-nodes"></i>
            
          </div>
        </div>
      <div class="segnalazioneAction">
        <%= form_with model: @recensione ,url: review_path(@recensione), method: :delete, local: true do %>
          <button type="submit">Rimuovi recensione</button>
        <% end %>
        <button>Blocca profilo segnalato</button>
      </div>
    </div>
    <br><br>
    <%end%>
  <%end%>
<% elsif %>
    <div class="segnalazione">
        <div class="segnalazioneInfo">
            <p>Da: __________ A: __________ <p>
            <p>Motivo: ____________ </p>
        </div>
        <div class="segnalazioneAction">
            <button>Rimuovi recensione</button>
            <button>Blocca profilo segnalato</button>
        </div>
    </div>
<% end %>
</div>
<h1>Problemi</h1>
<div class="gestioneProblemi">
  <table>
    <thead>
      <tr>
        <th>ID cliente</th>
        <th>Problema</th>
        <th>Data</th>
        <th>Stato</th>
      </tr>
    </thead>
    <tbody>
      <% @problemi.each do |problema| %>
        <tr>
          <td><%= problema.cliente_id %></td>
          <td><%= problema.text %></td>
          <td><%= problema.created_at.strftime('%d/%m/%Y') %></td>
          <td>
            <% if problema.stato == false %>
              <%= form_with(url: aggiorna_stato_problema_problem_path(problema), method: :put, class: 'update-status-form', data: { confirm: 'Sei sicuro di voler segnare questo problema come risolto?' }) do %>
                <%= button_tag type: 'submit', class: 'btn btn-danger' do %>
                  Da risolvere
                <% end %>
              <% end %>
            <% else %>
              <button class="btn btn-success" disabled>Risolto</button>
            <% end %>
          </td>
        </tr>
      <% end %>

      <% if @problemi.empty? %>
        <tr>
          <td colspan="4">&nbsp;</td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<h1>Invia comunicazioni</h1>
<div class="inviaNotifiche">
  <%= form_with model: @notification, url: notifications_path, local: true do |form| %>
    <div class="form-group">
      <%= form.label :email, 'A:' %>
      <%= form.email_field :email, placeholder: 'Inserisci l\'email del destinatario', class: 'form-control', required: true %>
    </div>
    <div class="form-group">
      <%= form.text_area :message, rows: 5, class: 'form-control', placeholder: 'Inserisci il corpo della notifica', required: true %>
    </div>
    <div class="form-group">
      <%= form.submit 'Invia Notifica', class: 'btn btn-primary' %>
      <%= form.button 'Azzerare', type: 'reset', class: 'btn btn-secondary' %>
    </div>
  <% end %>
</div>

</div> <!-- cosa chiude ? -->

<div id="clipboardModal" class="modal">
<div class="modal-content">
  <span id="closeClipboard" class="close">&times;</span>
  <input type="hidden" id="cliente_id" name="cliente_id">
    <div id="segnalazioni-container">
      <!-- Segnalazioni verranno caricate qui -->
    </div>
  
</div>
</div>

<div id="cleanReportModal" class="modal">
<div class="modal-content">
  <span id="closeCleanReport" class="close">&times;</span>
  <%= form_with(url: segnalzaione_delete_path, method: "delete") do %>
    <h2>Vuoi eliminare le segnalazioni di questo account?</h2>
    <%= hidden_field_tag :data_id %>
    <button type="submit">Elimina</button>
  <% end %>
  
</div>
</div>

<div id="deleteUserModal" class="modal">
<div class="modal-content">
  <span id="closeDeleteUser" class="close">&times;</span>
  <%= form_with(url: admin_profile_user_delete_path, method: "delete") do %>
    <h2>Vuoi eliminare definitivamente questo account?</h2>
    <%= hidden_field_tag :delete_id %>
    <button type="submit">Elimina</button>
  <% end %>
  
</div>
</div>

<style>
.public-r-reviews {
  margin-right: 50px;
  width: 250%;
}

.icon-cell {
  width: 10%;
}

.icon-cell i{
  padding: 0% 10% 0% 10%;
}

.fa-ban {
  transition: color 0.3s ease;
}

.fa-ban:hover {
  color: red;
}

.fa-person-circle-check fa-clipboard{
  transition: color 0.3s ease;
}

.fa-person-circle-check:hover {
  color: green;
}

.fa-clipboard:hover {
  color: green;
}
</style>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const updateForms = document.querySelectorAll('.update-status-form');
    updateForms.forEach(form => {
      form.addEventListener('submit', function(event) {
        const confirmMessage = this.getAttribute('data-confirm');
        if (!confirm(confirmMessage)) {
          event.preventDefault();
        }
      });
    });

    document.querySelectorAll("tr[data-url]").forEach(function(row) {
    row.addEventListener("click", function(event) {
      // Controlla se l'elemento cliccato ha la classe 'icon-cell' o è un suo discendente
      if (!event.target.closest(".icon-cell")) {
        window.location = row.getAttribute("data-url");
      }
    });
  });

  document.querySelectorAll('.fa-clipboard').forEach(icon => {
  icon.addEventListener('click', (event) => {
    const cliente = event.target.getAttribute('data-cliente');

    // Imposta l'ID del cliente nel campo nascosto
    document.getElementById('cliente_id').value = cliente;

    // Esegui la richiesta AJAX per recuperare le segnalazioni
    fetch(`/segnalazione_index?cliente_id=${cliente}`)
      .then(response => response.json())
      .then(data => {
        let dimensioneArray = data.length;
        // Genera il contenuto HTML delle segnalazioni
        let segnalazioniHTML = '';
        if (dimensioneArray > 0) {
          segnalazioniHTML += `
          <h2>Segnalazioni ricevute (${dimensioneArray})</h2>
          <div id="segnalazioni-container">`;
    
          data.forEach(segnalazione => {
            segnalazioniHTML += `
            <div class="segnalazione">
            <p><strong>ID segnalatore:</strong> ${segnalazione.cliente_id}</p>
              <p><strong>Motivo:</strong> ${segnalazione.motivo}</p>
            </div>`;
          });

          segnalazioniHTML += `</div>`;
        } else {
          segnalazioniHTML = `
          <h2>Nessuna segnalazione</h2>`;
        }
        // Inserisce il contenuto HTML nel contenitore delle segnalazioni
        document.getElementById('segnalazioni-container').innerHTML = segnalazioniHTML;
        openClipModal();
      })
      .catch(error => console.error('Errore:', error));
  });
});

function openClipModal() {
  document.getElementById('clipboardModal').style.display = 'block';
}

function closeClipboardModal() {
  document.getElementById('clipboardModal').style.display = 'none';
}

window.onclick = function(event) {
  var modal = document.getElementById('clipboardModal');
  if (event.target == modal) {
    modal.style.display = 'none';
  }
}

document.querySelector('#closeClipboard').onclick = closeClipboardModal;


document.querySelectorAll('.fa-person-circle-check').forEach(icon => {
    icon.addEventListener('click', (event) => {
      const cliente = event.target.getAttribute('data-cliente');

      document.getElementById('data_id').value = cliente;


      openCleanModal();
    });
  });

  function openCleanModal() {
    document.getElementById('cleanReportModal').style.display = 'block';
  }

  function closeCleanReportModal() {
    document.getElementById('cleanReportModal').style.display = 'none';
  }

  window.onclick = function(event) {
    var modal = document.getElementById('cleanReportModal');
    if (event.target == modal) {
      modal.style.display = 'none';
    }
  }
  document.querySelector('#closeCleanReport').onclick = closeCleanReportModal;

  document.querySelectorAll('.fa-ban').forEach(icon => {
    icon.addEventListener('click', (event) => {
      const cliente = event.target.getAttribute('data-cliente');

      document.getElementById('delete_id').value = cliente;


      openDeleteModal();
    });
  });

  function openDeleteModal() {
    document.getElementById('deleteUserModal').style.display = 'block';
  }

  function closeDeleteModal() {
    document.getElementById('deleteUserModal').style.display = 'none';
  }

  window.onclick = function(event) {
    var modal = document.getElementById('deleteUserModal');
    if (event.target == modal) {
      modal.style.display = 'none';
    }
  }
  document.querySelector('#closeDeleteUser').onclick = closeDeleteModal;

});




</script>