<%= stylesheet_link_tag 'home', media: 'all' %>

  <body>
    <div class="classifica-page">
      
        <h1>Consigliate</h1>
        <div class="recommended">
          <div class="comp-grid">
            
            <div class="comp-box">
                <%= image_tag 'background.jpg' %>
                <div class="text-overlay" style="background-color: white; text-shadow: none; color: black; bottom: 0; left: 0; width: 100%; border-radius: 0; border: 1px solid #c9c9c9;">
                    <p>Nome Competizione</p>
                    <p style="font-size: 13px; font-weight: normal;">Descrizione</p>
                    <p style="font-size: 13px; font-weight: normal;">Requisiti <span> Premi </span></p>
                    <button type="button">Iscriviti</button>


                </div>
            </div>
            <div class="comp-box">
              <%= image_tag 'background.jpg' %>
              <div class="text-overlay" style="background-color: white; text-shadow: none; color: black; bottom: 0; left: 0; width: 100%; border-radius: 0; border: 1px solid #c9c9c9;">
                  <p>Nome Competizione</p>
                  <p style="font-size: 13px; font-weight: normal;">Descrizione</p>
                  <p style="font-size: 13px; font-weight: normal;">Requisiti <span> Premi </span></p>
                  <button type="button">Iscriviti</button>


              </div>
          </div>
          <div class="comp-box">
            <%= image_tag 'background.jpg' %>
            <div class="text-overlay" style="background-color: white; text-shadow: none; color: black; bottom: 0; left: 0; width: 100%; border-radius: 0; border: 1px solid #c9c9c9;">
                <p>Nome Competizione</p>
                <p style="font-size: 13px; font-weight: normal;">Descrizione</p>
                <p style="font-size: 13px; font-weight: normal;">Requisiti <span> Premi </span></p>
                <button type="button">Iscriviti</button>


            </div>
        </div>
            
            
        </div>

        
        
    </div>

    <h1>Tutte le competizioni</h1>
          <form id="find-competizione-form">
            <div class="find-input" style="display: flex; align-items: center;">
                <ion-icon name="search-outline" style="margin-bottom: 30px;"></ion-icon>
                <input type="text" id="findbar" placeholder="Cerca una competizione">
            </div>
        </form>
          

        <div class="all-comp">
          
        <div class="left-side">
          <div class="left-side-comp-box">
            <%= image_tag 'background.jpg' %>
            <div class="comp-details">
              <h3>Nome Competizione</h3>
              <p>Descrizione</p>
              <p style="font-style: italic;">Clicca per vedere i dettagli</p>

            </div>
          </div>
          <hr class="solid" id="divider">
          <div class="left-side-comp-box">
            <%= image_tag 'background.jpg' %>
            <div class="comp-details">
              <h3>Nome Competizione</h3>
              <p>Descrizione</p>
              <p style="font-style: italic;">Clicca per vedere i dettagli</p>

            </div>
          </div>
          <hr class="solid" id="divider">
          <div class="left-side-comp-box">
            <%= image_tag 'background.jpg' %>
            <div class="comp-details">
              <h3>Nome Competizione</h3>
              <p>Descrizione</p>
              <p style="font-style: italic;">Clicca per vedere i dettagli</p>

            </div>
          </div>
          <hr class="solid" id="divider">

          <div class="left-side-comp-box">
            <%= image_tag 'background.jpg' %>
            <div class="comp-details">
              <h3>Nome Competizione</h3>
              <p>Descrizione</p>
              <p style="font-style: italic;">Clicca per vedere i dettagli</p>

            </div>
          </div>




        </div>
        <div class="vertical-divider">

        </div>


        <div class="right-side">
          <%= image_tag 'background.jpg' %>
          <h1>Nome competizione</h1>
          <p style="font-weight: bold;">Descrizione: <span style="font-weight: normal;"> Descrizione</span></p>
          <p style="font-weight: bold;">Requisiti: <span style="font-weight: normal;"> Requisiti</span></p>
          <p style="font-weight: bold;">Premi: <span style="font-weight: normal;"> Premi</span></p>
          <button type="button">Iscriviti</button>




          
        </div>
        </div>

    </div>
  </div>

  
  </body>
</html>