<%= javascript_include_tag 'info', 'data-turbolinks-track': 'reload' %>

<div class="pagina-info">
  <% if flash[:notice] %>
      <div class="alert alert-success" role="alert">
        <%= flash[:notice] %>
      </div>
    <% end %>

    <% if flash[:alert] %>
      <div class="alert alert-danger" role="alert">
        <%= flash[:alert] %>
      </div>
    <% end %>
<div class="flex-container-info">
    <div class="column">

      <h3>Statistiche Prenotazioni Settimanali</h3>
      <div class="i-section">
        <div class="statistiche">
            <canvas id="graficoSettimana"></canvas>
        </div>
      </div>

      <h3>Gestione Prenotazioni</h3>
<div class="i-section">
  <% @prenotazioni.each do |prenotazione| %>
    <div class="prenotazione">
      <%= image_tag 'background.jpg' %>    
      <div class="pren-info">
        <p style="font-weight: bold;">Nome Cliente: <span style="font-weight: normal;"><%= prenotazione.user.nome %> <%= prenotazione.user.cognome %></span></p>
        <p style="font-weight: bold;">N. Persone: <span style="font-weight: normal;"><%= prenotazione.numero_persone %></span></p>
        <p style="font-weight: bold;">Data: <span style="font-weight: normal;"><%= prenotazione.data %></span></p>
        <p style="font-weight: bold;">Orario: <span style="font-weight: normal;"><%= prenotazione.orario.strftime("%H:%M") %></span></p>
      </div>
      <div class="pren-icon">
        <!-- Form per accettare la prenotazione -->
        <%= form_with url: set_valida_prenotazione_path(prenotazione), method: :patch, local: true do |form| %>
          <%= form.hidden_field :valida, value: true %>
          <%= form.submit "✔", class: "fa-solid fa-check check-icon" %>
        <% end %>

        <!-- Form per rifiutare la prenotazione -->
        <%= form_with url: prenotazione_path(prenotazione), method: :delete, local: true do |form| %>
          <%= form.submit "✖", class: "fa-solid fa-ban delete-icon" %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

    </div>

    <div class="column">
      <h3>Calendario</h3>
      <div class="i-section" id="calendario">
             
      </div>

      <h3>Impegni Quotidiani</h3>
      <p>in giallo sono riportate le prenotazioni validate mentre in verde sono riportati gli eventi</p>
      <div class="i-section" id="impegniGiornalieri">
        
      </div>
    </div>
  </div>

  <h3>Informazioni sui Dipendenti del Ristorante</h3>
  <div class="employees-section">
    <% if @dipendenti.empty? %>
      <p style="color: gray; ">Non hai ancora inserito un dipendente.</p>
    <% else %>
      <% @dipendenti.each do |dipendente| %>
        <div class="dipendente">
          <%= image_tag dipendente.foto.present? ? dipendente.foto : 'background.jpg', class: 'dip-foto' %>    
          <div class="dip-info">
            <p>Nome: <%= dipendente.nome %></p>
            <p>Cognome: <%= dipendente.cognome %></p>
            <p>Ruolo: <%= dipendente.ruolo %></p>
            <p>Assunzione: <%= dipendente.assunzione.strftime("%d/%m/%Y") %></p>
          </div>
          <button class="btn btn-danger remove-dipendente" data-dip-id="<%= dipendente.id %>">Elimina</button>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="formDipendente">
    <h2>Aggiungi Dipendente</h2>
    <%= form_with(model: @dipendente, url: create_dipendente_path, local: true) do |form| %>
      <%= form.fields_for :dipendente do |dipendente_form| %>
        <div class="form-group">
          <%= dipendente_form.label :foto, "Foto URL" %>
          <%= dipendente_form.file_field :foto, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= dipendente_form.label :nome, "Nome" %>
          <%= dipendente_form.text_field :nome, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= dipendente_form.label :cognome, "Cognome" %>
          <%= dipendente_form.text_field :cognome, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= dipendente_form.label :ruolo, "Ruolo" %>
          <%= dipendente_form.select :ruolo, options_for_select(['fattorino', 'cameriere', 'cassiere', 'sommelier', 'cuoco', 'lavapiatti', 'direttore di sala', 'aiuto-chef']), {}, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= dipendente_form.label :assunzione, "Data di Assunzione" %>
          <%= dipendente_form.date_field :assunzione, class: "form-control" %>
        </div>
        <%= dipendente_form.hidden_field :ristoratore_id, value: @current_user.cliente.ristoratore.id %> 
      <% end %>
      <div class="form-group">
        <%= form.submit "Salva Dipendente", class: "btn btn-primary" %>
        <button type="button" id="resetBtnDipendente">Azzera</button>
      </div>
    <% end %>
  </div>
