<h1>registrati</h1>
<!-- app/views/utentes/new_user.html.erb -->
<h3>Utente</h3>
<%= form_for @utente, url: create_user_registration_path do |f| %>
  <%= f.label :email %>
  <%= f.text_field :email %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>

  <%= f.label :telefono %>
  <%= f.text_field :telefono %>

  <%= f.fields_for :cliente do |cliente_fields| %>
    <%= cliente_fields.label :foto %>
    <%= cliente_fields.file_field :foto %>

    <%= cliente_fields.label :dataiscrizione %>
    <%= cliente_fields.date_field :dataiscrizione %>

    <%= cliente_fields.fields_for :user do |user_fields| %>
      <%= user_fields.label :username %>
      <%= user_fields.text_field :username %>

      <%= user_fields.label :nome %>
      <%= user_fields.text_field :nome %>

      <%= user_fields.label :cognome %>
      <%= user_fields.text_field :cognome %>

      <%= user_fields.label :datanascita %>
      <%= user_fields.date_field :datanascita %>
    <% end %>
  <% end %>

  <%= f.submit "Registrati come Utente" %>
<% end %>

<h3>critico</h3>
<!-- app/views/utentes/new_critico.html.erb -->
<%= form_for @utente, url: create_critico_registration_path do |f| %>
  <!-- Campi per Utente, Cliente, User e Critico -->
  <%= f.label :email %>
  <%= f.text_field :email %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>

  <%= f.label :telefono %>
  <%= f.text_field :telefono %>

  <%= f.fields_for :cliente do |cliente_fields| %>
    <%= cliente_fields.label :foto %>
    <%= cliente_fields.file_field :foto %>

    <%= cliente_fields.label :dataiscrizione %>
    <%= cliente_fields.date_field :dataiscrizione %>

    <%= cliente_fields.fields_for :user do |user_fields| %>
      <%= user_fields.label :username %>
      <%= user_fields.text_field :username %>

      <%= user_fields.label :nome %>
      <%= user_fields.text_field :nome %>

      <%= user_fields.label :cognome %>
      <%= user_fields.text_field :cognome %>

      <%= user_fields.label :datanascita %>
      <%= user_fields.date_field :datanascita %>

      <%= user_fields.fields_for :critico do |critico_fields| %>
        <%= critico_fields.label :certificato %>
        <%= critico_fields.text_field :certificato %>
      <% end %>
    <% end %>
  <% end %>

  <%= f.submit "Registrati come Critico" %>
<% end %>
<h3>ristoratore</h3>
<!-- app/views/utentes/new_ristoratore.html.erb -->
<%= form_for @utente, url: create_ristoratore_registration_path do |f| %>
  <!-- Campi per Utente, Cliente e Ristoratore -->
  <%= f.label :email %>
  <%= f.text_field :email %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>

  <%= f.label :telefono %>
  <%= f.text_field :telefono %>

  <%= f.fields_for :cliente do |cliente_fields| %>
    <%= cliente_fields.label :foto %>
    <%= cliente_fields.file_field :foto %>

    <%= cliente_fields.label :dataiscrizione %>
    <%= cliente_fields.date_field :dataiscrizione %>

    <%= cliente_fields.fields_for :ristoratore do |ristoratore_fields| %>
      <%= ristoratore_fields.label :piva %>
      <%= ristoratore_fields.text_field :piva %>

      <%= ristoratore_fields.label :asporto %>
      <%= ristoratore_fields.check_box :asporto %>

      <%= ristoratore_fields.label :nomeristorante %>
      <%= ristoratore_fields.text_field :nomeristorante %>

      <%= ristoratore_fields.label :indirizzo %>
      <%= ristoratore_fields.text_field :indirizzo %>
    <% end %>
  <% end %>

  <%= f.submit "Registrati come Ristoratore" %>
<% end %>

