<%= stylesheet_link_tag 'login', media: 'all' %>


<body>

    <div class="login-page">
        <div class="login-text-container" style="display: flex; flex-direction: column; width: 20%;">
            <h1>Esegui l'accesso come utente</h1>
            <p>Per scrivere Recensioni, partecipare ad Eventi, gestire Prenotazioni e competere con gli altri utenti! oppure</p>
            <h1>Accedi come Ristoratore</h1>
            <p>Per gestire il tuo ristorante, pubblicizzare Eventi e guadagnare punti in classifica!</p>

        </div>
        <div class="login-container">
            <div class="login-form-container">
                <h1 style="margin-bottom: 20px; display: flex; align-items: center; justify-content: center; gap: 10px;">Login Utente<span><ion-icon name="person"></ion-icon></span></h1>
                <!-- app/views/sessions/new.html.erb -->
                <%= form_with(url: login_path, local: true, id: "login-form") do %>
                <% if flash.now[:alert] %>
                <div class="alert alert-danger" style="color: red; font-style: italic;">
                <%= flash.now[:alert] %>
                </div>
                  <% end %>

                <div class="input-container">
                    <%= label_tag :email, "Email", id: "login-label" %>
                    <%= text_field_tag 'session[email]', nil, id: "login-input" %>
                </div>
                <div class="input-container">
                    <%= label_tag :password, "Password", id: "login-label" %>
                    <%= password_field_tag 'session[password]', nil, id: "login-input" %>
                </div>
                <div class="rememberme-container">
                    <%= label_tag :remember_me, "Ricordami", id: "login-label", style: "font-weight: normal; " %>
                    <%= check_box_tag 'session[remember_me]' %>
                </div>
                <%= submit_tag 'Accedi', id: "login-btn" %>
                <hr class='solid' id='divider'>
                <a href="/auth/google_oauth2/callback"><button type="button" id="login-btn" style="background-color: rgb(6, 176, 176); margin-bottom: 10px;">
                    <ion-icon name="logo-google"></ion-icon>Accedi con Google
                </button></a>
                <button type="button" id="login-btn" style="background-color: rgb(97, 35, 195);">
                    <ion-icon name="logo-facebook"></ion-icon>Accedi con Facebook
                </button>
                <div class="password-forgot-container">
                    <p id="forgot-password">Ho dimenticato la password</p>
                </div>
                <div class="register-container">
                    <hr class='solid' style="width: 25%;" id='divider'>
                    <p style="font-size: 13px; cursor: pointer;"><a href="<%= signup_path %>">Iscriviti</a></p>
                    <hr class='solid' style="width: 25%;" id='divider'>
                </div>
                <% end %>

            </div>
        </div>
        <div class="login-container">
            <div class="login-form-container">
                <h1 style="margin-bottom: 20px; display: flex; align-items: center; justify-content: center; gap: 10px;">Login Ristoratore<span><ion-icon name="pizza"></ion-icon></span></h1>
                <%= form_with(url: login_path, local: true, id: "login-form") do %>
                    <% if flash.now[:alert] %>
                        <div class="alert alert-danger" style="color: red; font-style: italic;">
                        <%= flash.now[:alert] %>
                        </div>
                    <% end %>
                    <div class="input-container">
                        <label id="login-label">P. IVA</label>
                    <input type="text" id="login-input">
                    </div>
                    <div class="input-container">
                        <label for="password" id="login-label">Password</label>
                        <input type="password" id="login-input">
                    </div>

                    <div class="rememberme-container">
                        <label for="checkbox" id="login-label" style="font-weight: normal; ">Ricordami</label>
                        <input type="checkbox"></span>
                    </div>
                    
                    
                    <%= submit_tag 'Accedi', id: "login-btn" %>
                    <hr class='solid' id='divider'>


                    <div class="password-forgot-container">
                        <p id="forgot-password">Ho dimenticato la password</p>

                    </div>
                    <div class="register-container">
                        <hr class='solid' style="width: 20%;" id='divider'>
                        <p style="font-size: 13px; cursor: pointer;"><a href="<%= signup_path %>">Diventa un ristoratore</a></p>
                        <hr class='solid' style="width: 20%;" id='divider'>
                    </div>

                <% end %>
            </div>
        </div>
    </div>

