<%= link_to 'Salva', user_profile_path %>

<%= form_with model: @current_user, url: '/user_profile/update', method: :put, local: true, multipart: true do |f| %>
  <div class="p-user-photo-details">
        <% if @current_user.cliente.foto.present? %>
            <%= image_tag @current_user.cliente.foto %>
        <% else %>
            <%= image_tag 'user.jpg' %> <!-- Immagine competizione -->
        <% end %>
        <div class="p-user-details">
            <h1>Dettagli</h1>
            <p style="font-weight: bold;">Username: <span id="right-side-requisiti" style="font-weight: normal;"><%= @current_user.cliente.user.username%></span></p>
            <p style="font-weight: bold;">Nome: <span id="right-side-requisiti" style="font-weight: normal;"><%= @current_user.cliente.user.nome%></span></p>
            <p style="font-weight: bold;">Cognome: <span id="right-side-requisiti" style="font-weight: normal;"><%= @current_user.cliente.user.cognome%></span></p>

            <p style="font-weight: bold;">Data di Nascita: <span id="right-side-requisiti" style="font-weight: normal;"><%= @current_user.cliente.user.datanascita%></span></p>
            <p style="font-weight: bold;">Data Iscrizione: <span id="right-side-requisiti" style="font-weight: normal;"><%= @current_user.cliente.user.created_at.strftime('%d/%m/%Y')%></span></p>
            <p style="font-weight: bold;">Email: <span id="right-side-requisiti" style="font-weight: normal;"><%= @current_user.cliente.utente.email%></span></p>
            <p style="font-weight: bold;">Telefono: <span id="right-side-requisiti" style="font-weight: normal;"><%= @current_user.cliente.utente.telefono%></span></p>

        </div>
    </div>
<% end %>
