<%= link_to 'Salva Impostazioni', rest_profile_path %>

<div class="ristorante">
  <%= form_with(model: @restaurant_owner, url: restaurateur_profiles_path, local: true, html: { method: :patch, multipart: true }) do |f| %>
    <% if @restaurant_owner.foto.attached? %>
      <%= image_tag url_for(@restaurant_owner.foto), class: 'r-foto' %>
    <% else %>
      <%= image_tag 'background.jpg', class: 'r-foto' %>
    <% end %>
    
    <div class="form-group">
      <%= f.label :foto, "Carica una nuova immagine:" %>
      <%= f.file_field :foto, class: 'form-control' %>
    </div>
    
    <div class="r-info">
      <div class="form-group">
        <%= f.label :restaurant_name, "Nome del ristorante:" %>
        <%= f.text_field :restaurant_name, class: 'form-control' %>
      </div>
      
      <div class="form-group">
        <%= f.label :address, "Indirizzo:" %>
        <%= f.text_field :address, class: 'form-control' %>
      </div>
      
      <div class="form-group">
        <%= f.label :email, "Email:" %>
        <%= f.email_field :email, class: 'form-control' %>
      </div>
      
      <div class="form-group">
        <%= f.label :phone, "Telefono:" %>
        <%= f.telephone_field :phone, class: 'form-control' %>
      </div>
      
      <div class="form-group">
        <%= f.label :created_at, "Data di registrazione:" %>
        <%= f.text_field :created_at, value: current_user.created_at, class: 'form-control', disabled: true %>
      </div>
      
      <%= f.submit "Salva", class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>



<h3>Statistiche</h3>
<div class="r-statistiche">
  <div class="r-stat">
    <div class="r-tags">
      <span class="r-tag pub">Pub</span>
      <span class="r-tag famiglie">Per famiglie</span>
    </div>
  </div>
</div>
<h3>Promozioni</h3>
<div class="r-promozioni">
  <div class="promo-grid">
    <div class="promo-box">
      <p style="font-weight: bold;">Tipo Promozione: <span style="font-weight: normal;">Tipo Promozione</span></p>
      <p style="font-weight: bold;">Data Inizio: <span style="font-weight: normal;">Data Inizio</span></p>
      <p style="font-weight: bold;">Data Fine: <span style="font-weight: normal;">Data Fine</span></p>
      <p style="font-weight: bold;">Condizioni: <span style="font-weight: normal;">Condizioni</span></p>
    </div>
    <div class="vertical-divider" style="height: 100px;"></div>
    <div class="promo-box">
      <p style="font-weight: bold;">Tipo Promozione: <span style="font-weight: normal;">Tipo Promozione</span></p>
      <p style="font-weight: bold;">Data Inizio: <span style="font-weight: normal;">Data Inizio</span></p>
      <p style="font-weight: bold;">Data Fine: <span style="font-weight: normal;">Data Fine</span></p>
      <p style="font-weight: bold;">Condizioni: <span style="font-weight: normal;">Condizioni</span></p>
    </div>
    <div class="vertical-divider" style="height: 100px;"></div>

      

  </div>
  
</div>

<h3>Stories Social</h3>
<div class="r-stories">
  <div class="r-storia">
    <p>storia</p>
    <i class="fa-solid fa-circle-up"></i>
  </div>
</div>
<h3>Recensioni</h3>
<div class="r-recensioni">
  <div class="r-recensione">
    <%= image_tag 'background.jpg', class: 'recensione-foto' %>    
    <div class="recensione-info">
        <p>Nome</p>
        <p>Stelle</p>
        <p>Descrizione</p>
    </div>
    <div class="recensione-icon">
        <i class="fa-regular fa-thumbs-up"></i>
        <i class="fa-solid fa-thumbtack"></i>
        <i class="fa-solid fa-ban"></i>
        <i class="fa-solid fa-retweet"></i>
    </div>
  </div>
</div>
<h3>Ricette Condivise</h3>
<div class="r-ricette">
  <div class="r-ricetta">
      <%= image_tag 'background.jpg', class: 'ricetta-foto' %>    
      <div class="ricetta-info">
          <p>Nome</p>
          <p>Ingredienti</p>
          <p>Lavorazione</p>
      </div>
  </div>
  <div class="r-ricetta">
      <%= image_tag 'background.jpg', class: 'ricetta-foto' %>    
      <div class="ricetta-info">
          <p>Nome</p>
          <p>Ingredienti</p>
          <p>Lavorazione</p>
      </div>
  </div>
  <i class="fa-solid fa-calendar-plus" style="font-size: 30px; cursor: pointer; margin-left: 10px; align-self: center; "></i>
</div>

