<%= link_to 'Salva', rest_profile_path %>

<div class="ristorante">
  <%= form_with(model: @restaurant_owner, url: restaurateur_profiles_path, local: true, html: { method: :patch, multipart: true }) do |f| %>
    <% if @restaurant_owner.foto.attached? %>
      <%= image_tag url_for(@restaurant_owner.foto), class: 'r-foto' %>
    <% else %>
      <%= image_tag 'background.jpg', class: 'r-foto' %>
    <% end %>
    
    <div class="form-group">
      <%= f.label :foto, "Carica una nuova immagine:" %>
      <%= f.file_field :foto, class: 'form-control' %>
    </div>
    
    <div class="r-info">
      <div class="form-group">
        <%= f.label :restaurant_name, "Nome del ristorante:" %>
        <%= f.text_field :restaurant_name, value: current_user.restaurant_name, class: 'form-control' %>
      </div>
      
      <div class="form-group">
        <%= f.label :address, "Indirizzo:" %>
        <%= f.text_field :address, class: 'form-control' %>
      </div>
      
      <div class="form-group">
        <%= f.label :email, "Email:" %>
        <%= f.email_field :email, value: current_user.email, class: 'form-control' %>
      </div>
      
      <div class="form-group">
        <%= f.label :phone, "Telefono:" %>
        <%= f.telephone_field :phone, value: current_user.phone, class: 'form-control' %>
      </div>
      
      <div class="form-group">
        <%= f.label :created_at, "Data di registrazione:" %>
        <%= f.text_field :created_at, value: current_user.created_at, class: 'form-control', disabled: true %>
      </div>
      
      <%= f.submit "Salva", class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>



<h3>Statistiche</h3>
<h3>Tags</h3>
<div class="r-statistiche">
  <div class="r-stat">
    <div class="r-tags">
      <span class="r-tag pub">Pub</span>
      <span class="r-tag famiglie">Per famiglie</span>
    </div>
  </div>
</div>
<h3>Promozioni</h3>
<div class="r-promozioni">
  <div class="promo-grid">
    <% if @promotions.present? %>
      <% @promotions.each do |promotion| %>
        <div class="promo-box" id="promotion-<%= promotion.id %>">
          <p style="font-weight: bold;">Tipo Promozione: <span style="font-weight: normal;"><%= promotion.tipo %></span></p>
          <p style="font-weight: bold;">Data Inizio: <span style="font-weight: normal;"><%= promotion.data_inizio %></span></p>
          <p style="font-weight: bold;">Data Fine: <span style="font-weight: normal;"><%= promotion.data_fine %></span></p>
          <p style="font-weight: bold;">Condizioni: <span style="font-weight: normal;"><%= promotion.condizioni %></span></p>
          <ion-icon name="close-circle-outline" class="del-promo-icon" id="del-promo-icon" data-promotion-id="<%= promotion.id %>" style="font-size: 25px; cursor: pointer;"></ion-icon>

        </div>
        <div class="vertical-divider" style="height: 100px;"></div>
      <% end %>
    <% else %>
      <p>Nessuna promozione attiva</p>
    <% end %>
  </div>
</div>
<button type="button" id="add-promo-btn">Aggiungi Promozione</button>


<h3>Stories Social</h3>
<div class="r-stories">
  <div class="r-storia">
    <p>storia</p>
    <i class="fa-solid fa-circle-up"></i>
  </div>
</div>
<h3>Recensioni</h3>
<div class="r-recensioni">
  <div class="r-recensione">
    <%= image_tag 'background.jpg', class: 'recensione-foto' %>    
    <div class="recensione-info">
        <p>Nome</p>
        <p>Stelle</p>
        <p>Descrizione</p>
    </div>
    <div class="recensione-icon">
        <i class="fa-regular fa-thumbs-up"></i>
        <i class="fa-solid fa-thumbtack"></i>
        <i class="fa-solid fa-ban"></i>
        <i class="fa-solid fa-retweet"></i>
    </div>
  </div>
</div>
<h3>Ricette Condivise</h3>
<div class="r-ricette">
  <div class="r-ricetta">
      <%= image_tag 'background.jpg', class: 'ricetta-foto' %>    
      <div class="ricetta-info">
          <p>Nome</p>
          <p>Ingredienti</p>
          <p>Lavorazione</p>
      </div>
  </div>
  <div class="r-ricetta">
      <%= image_tag 'background.jpg', class: 'ricetta-foto' %>    
      <div class="ricetta-info">
          <p>Nome</p>
          <p>Ingredienti</p>
          <p>Lavorazione</p>
      </div>
  </div>
  <i class="fa-solid fa-calendar-plus" style="font-size: 30px; cursor: pointer; margin-left: 10px; align-self: center; "></i>
</div>

<h3>Eventi</h3>
<div class="r-eventi">
  <% if @eventi.any? %>
    <% @eventi.each do |evento| %>
      <div class="r-evento" id="evento-<%= evento.id %>">
        <% if evento.locandina.attached? %>
          <%= image_tag url_for(evento.locandina), class: 'evento-foto'  %>
        <% else %>
          <%= image_tag 'background.jpg', class: 'evento-foto' %>
        <% end %> 
        <div class="evento-info">
          <p><%= evento.nome %></p>
          <p>Data: <%= evento.data %></p>
          <p>Luogo: <%= evento.luogo %></p>
          <p>Desc: <%= evento.descrizione %></p>
        </div>
        <i class="fa fa-trash delete-icon" data-event-id="<%= evento.id %>" style="font-size: 15px; cursor: pointer;"></i>
      </div>
    <% end %>
  <% else %>
    <p>Il ristoratore non ha creato alcun evento.</p>
  <% end %>

  <!-- Icona per aprire la finestra modale -->
  <i class="fa-solid fa-calendar-plus" id="openModalBtn" style="font-size: 30px; cursor: pointer; margin-left: 10px; align-self: center; "></i>
</div>

<!-- Finestra modale creazione evento -->
<div id="myModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <h2>Crea Nuovo Evento</h2>
    <%= form_with url: create_event_restaurateur_profiles_path, method: :post, local: true do |form| %>
      <div>
        <%= form.label :nome, "Nome Evento" %>
        <%= form.text_field :nome %>
      </div>
      <div>
        <%= form.label :data, "Data Evento" %>
        <%= form.date_field :data, id: "eventDate" %>
      </div>
      <div>
        <%= form.label :luogo, "Luogo Evento" %>
        <%= form.text_field :luogo %>
      </div>
      <div>
        <%= form.label :descrizione, "Descrizione Evento" %>
        <%= form.text_area :descrizione %>
      </div>
      <div>
        <%= form.label :locandina, "Locandina Evento" %>
        <%= form.file_field :locandina %>
      </div>
      <div>
        <%= form.submit "Crea Evento" %>
        <button type="button" id="resetBtn">Azzera</button>
      </div>
    <% end %>
  </div>
</div>



<div id="myModal2" class="modal">
  <div class="modal-content">
    <span class="close" id="close-promo-modal">&times;</span>
    <h2>Aggiungi Promozione</h2>
    <%= form_with(url: create_promotion_restaurateur_profiles_path, method: :post, local: true) do |form| %>
      <div class="form-group">
        <%= form.label :tipo, "Tipo Promozione" %>
        <%= form.text_field :tipo, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= form.label :data_inizio, "Data Inizio" %>
        <%= form.date_field :data_inizio, class: "form-control", id: "eventDatePromo" %>
      </div>
      <div class="form-group">
        <%= form.label :data_fine, "Data Fine" %>
        <%= form.date_field :data_fine, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= form.label :condizioni, "Condizioni" %>
        <%= form.text_area :condizioni, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= form.submit "Salva Promozione", class: "btn btn-primary" %>
        <button type="button" id="resetBtnPromo">Azzera</button>
      </div>
    <% end %>
  </div>
</div>


<!-- Finestra di conferma eliminazione evento -->
<div id="confirmModal" class="modal">s
  <div class="modal-content">
    <span class="close-confirm">&times;</span>
    <h2>Conferma Eliminazione</h2>
    <p>Sei sicuro di voler eliminare questo evento?</p>
    <button id="confirmDeleteBtn">Conferma</button>
    <button id="cancelDeleteBtn">Annulla</button>
  </div>
</div>

<!-- Finestra di conferma eliminazione promozione -->
<div id="confirmModalPromo" class="modal">s
  <div class="modal-content">
    <span class="close-confirm-promo">&times;</span>
    <h2>Conferma Eliminazione</h2>
    <p>Sei sicuro di voler eliminare questo evento?</p>
    <button id="confirmDeleteBtnPromo">Conferma</button>
    <button id="cancelDeleteBtnPromo">Annulla</button>
  </div>
</div>

<script>
  // JS per la finestra modale creazione evento
  document.addEventListener("DOMContentLoaded", function() {
    var modal = document.getElementById("myModal");
    var btn = document.getElementById("openModalBtn");
    var span = document.getElementsByClassName("close")[0];
    var resetBtn = document.getElementById("resetBtn");
    var eventDateField = document.getElementById("eventDate");

    // Imposta la data minima per il campo data
    var today = new Date();
    today.setDate(today.getDate() + 1); // Aggiungi un giorno alla data odierna
    var minDate = today.toISOString().split('T')[0];
    eventDateField.setAttribute('min', minDate);

    btn.onclick = function() {
      modal.style.display = "block";
    }

    span.onclick = function() {
      modal.style.display = "none";
    }

    window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }

    resetBtn.onclick = function() {
      var form = modal.querySelector("form");
      form.reset();
    }

  
  });


  // JS aggiunta di promozioni
  document.addEventListener("DOMContentLoaded", function() {
    var modal2 = document.getElementById("myModal2");
    var btn = document.getElementById("add-promo-btn");
    var span = document.getElementById("close-promo-modal");
    var resetBtn = document.getElementById("resetBtnPromo");
    var eventDateField = document.getElementById("eventDatePromo");

    // Imposta la data minima per il campo data
    var today = new Date();
    today.setDate(today.getDate() + 1); // Aggiungi un giorno alla data odierna
    var minDate = today.toISOString().split('T')[0];
    eventDateField.setAttribute('min', minDate);

    btn.onclick = function() {
      modal2.style.display = "block";
    }

    span.onclick = function() {
      modal2.style.display = "none";
    }

    window.onclick = function(event) {
      if (event.target == modal) {
        modal2.style.display = "none";
      }
    }

    resetBtn.onclick = function() {
      var form = modal.querySelector("form");
      form.reset();
    }
  });

  // JS per eliminazione evento
  var confirmModal = document.getElementById("confirmModal");
  var closeConfirmBtn = document.getElementsByClassName("close-confirm")[0];
  var confirmDeleteBtn = document.getElementById("confirmDeleteBtn");
  var cancelDeleteBtn = document.getElementById("cancelDeleteBtn");
  var eventIdToDelete = null;

  document.querySelectorAll('.delete-icon').forEach(function(deleteIcon) {
    deleteIcon.onclick = function() {
      eventIdToDelete = this.getAttribute('data-event-id');
      confirmModal.style.display = "block";
    }
  });

  closeConfirmBtn.onclick = function() {
    confirmModal.style.display = "none";
  }

  cancelDeleteBtn.onclick = function() {
    confirmModal.style.display = "none";
    eventIdToDelete = null;
  }

  window.onclick = function(event) {
    if (event.target == confirmModal) {
      confirmModal.style.display = "none";
      eventIdToDelete = null;
    }
  }

  confirmDeleteBtn.onclick = function() {
    if (eventIdToDelete) {
      fetch(`/restaurateur_profiles/destroy_event/${eventIdToDelete}`, {
        method: 'DELETE',
        headers: {
          'X-CSRF-Token': document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
          'Content-Type': 'application/json'
        }
      }).then(response => response.json())
        .then(data => {
          if (data.success) {
            document.getElementById(`evento-${eventIdToDelete}`).remove();
            confirmModal.style.display = "none";
          } else {
            alert('Errore durante l\'eliminazione dell\'evento: ' + data.error);
          }
        }).catch(error => {
          alert('Errore durante l\'eliminazione dell\'evento: ' + error.message);
        });
    }
  }

  // JS per eliminazione promozioni
  var confirmPromoModal = document.getElementById("confirmModalPromo");
  var closePromoConfirmBtn = document.getElementsByClassName("close-confirm-promo")[0];
  var confirmPromoDeleteBtn = document.getElementById("confirmDeleteBtnPromo");
  var cancelPromoDeleteBtn = document.getElementById("cancelDeleteBtnPromo");
  var promoIdToDelete = null;

  document.querySelectorAll('.del-promo-icon').forEach(function(deletePromoIcon) {
    deletePromoIcon.onclick = function() {
      promoIdToDelete = this.getAttribute('data-promotion-id');
      confirmPromoModal.style.display = "block";
    }
  });

  closePromoConfirmBtn.onclick = function() {
    confirmPromoModal.style.display = "none";
  }

  cancelPromoDeleteBtn.onclick = function() {
    confirmPromoModal.style.display = "none";
    promoIdToDelete = null;
  }

  window.onclick = function(event) {
    if (event.target == confirmPromoModal) {
      confirmPromoModal.style.display = "none";
      promoIdToDelete = null;
    }
  }

  confirmPromoDeleteBtn.onclick = function() {
    if (promoIdToDelete) {
      fetch(`/restaurateur_profiles/destroy_promotion/${promoIdToDelete}`, {
        method: 'DELETE',
        headers: {
          'X-CSRF-Token': document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
          'Content-Type': 'application/json'
        }
      }).then(response => response.json())
        .then(data => {
          if (data.success) {
            document.getElementById(`promotion-${promoIdToDelete}`).remove();
            confirmPromoModal.style.display = "none";
          } else {
            alert('Errore durante l\'eliminazione della promozione: ' + data.error);
          }
        }).catch(error => {
          alert('Errore durante l\'eliminazione della promozione: ' + error.message);
        });
    }
  }

</script>

