<div class="pagina-vetrina">
    <div class="rest-foto-name">
        <div class="rest-info-public">
            <h1 style="font-size: 50px;"><%= @restaurant_owner.restaurant_name %></h1>
            <h2>n. stelle</h2>
            <h3>n. recensioni</h3>
            <h2 style="margin-top: 20px;">TAGS: </h2>
          </div>
        <% if @restaurant_owner.foto.attached? %>
    <%= image_tag url_for(@restaurant_owner.foto), class: 'r-foto'  %>
  <% else %>
    <%= image_tag 'background.jpg', class: 'r-foto' %>
  <% end %>
  <div class="rest-info-public-right">
    <h3>Informazioni</h3>
    <p style="font-weight: bold;">Email: <span style="font-weight: normal;"><%=  @restaurant_owner.email %></span></p>
    <p style="font-weight: bold;">Telefono: <span style="font-weight: normal;"><%=  @restaurant_owner.phone %></span></p>
    <p style="font-weight: bold;">Indirizzo: <span style="font-weight: normal;">Indirizzo Ristorante</span></p>
    <p style="font-weight: bold;">Asporto?: <span style="font-weight: normal;">Asporto</span></p>
    
  </div>
  
  

    </div>
    <div class="review-reserve-buttons">
        <button type="button">Lascia una Recensione</button>
        <button type="button" style="background-color: rgb(234, 183, 121);">Prenota un Tavolo</button>

      </div>
      <h1>Eventi</h1>

      <div class="public-r-events">
        <div class="restaurants-grid">
        <% if @eventi.present? %>
 
            <% @eventi.each do |evento| %>
              <div class="restaurant-box">
                <% if evento.locandina.attached? %>
                    <%= image_tag url_for(evento.locandina), class: 'evento-foto'  %>
                <% else %>
                    <%= image_tag 'background.jpg', class: 'evento-foto' %>
                <% end %> 
                <div class="text-overlay" style="background-color: white; text-shadow: none; color: black; bottom: 0; left: 0; width: 100%; border-radius: 0; border: 1px solid #c9c9c9;">
                  <p><%= evento.nome %></p>
                  <p style="font-size: 13px; font-weight: normal;"><%= evento.descrizione %></p>
                  <p style="font-size: 13px; font-weight: normal;"><%= evento.data %></p>
                  <p style="font-size: 13px; font-weight: normal;"><%= evento.luogo %></p>
                </div>
              </div>
            <% end %>
            <% else %>
      <p>Nessun evento trovato</p>
    <% end %>
          </div>
      </div>
      <hr class="solid" id="divider" style="width: 70%;">
      <h1 style="margin-bottom: 20px;">Promozioni</h1>

      <div class="public-r-promos">
        <% if @promotions.present? %>
        <% @promotions.each do |promotion| %>
        <div class="public-r-promos-box">
            <p style="font-weight: bold;">Tipo Promozione: <span style="font-weight: normal;"><%= promotion.tipo %></span></p>
          <p style="font-weight: bold;">Data Inizio: <span style="font-weight: normal;"><%= promotion.data_inizio %></span></p>
          <p style="font-weight: bold;">Data Fine: <span style="font-weight: normal;"><%= promotion.data_fine %></span></p>
          <p style="font-weight: bold;">Condizioni: <span style="font-weight: normal;"><%= promotion.condizioni %></span></p>           
        </div>
        <% end %>
    <% else %>
      <p>Nessuna promozione attiva</p>
    <% end %>
        
      </div>
      <hr class="solid" id="divider" style="width: 70%;">


    
</div>