<%= link_to 'Modifica', edit_restaurateur_profiles_path %>

<div class="ristorante">
  <% if @restaurant_owner.photo.present? %>
    <%= image_tag @restaurant_owner.photo, class: 'r-foto'  %>
  <% else %>
    <%= image_tag 'background.jpg', class: 'r-foto' %>
  <% end %>
   
  <div class="r-info">
    <p style="font-weight: bold;">Nome del ristorante: <span style="font-weight: normal;"><%= current_user.restaurant_name %></span></p>
    <p style="font-weight: bold;">Indirizzo: </p>
    <p style="font-weight: bold;">Email: <span style="font-weight: normal;"><%= current_user.email %></span></p>
    <p style="font-weight: bold;">Telefono: <span style="font-weight: normal;"><%= current_user.phone %></span></p>
    <p style="font-weight: bold;">Data di registrazione: <span style="font-weight: normal;"><%= current_user.created_at %></span></p>
    <p style="font-weight: bold;">Asporto:</p>
  </div>
</div>

<h3>Tags</h3>
<div class="r-statistiche">
  <div class="r-stat">
    <div class="r-tags">
      <% if @tags.present? %>
        <% @tags.each do |tag| %>
          <span class="piatto"><%= tag.nome %></span>
        <% end %>
      <% else %>
        <p>Nessun tag associato</p>
      <% end %>
    </div>
  </div>
</div>

<h3>Promozioni</h3>
<div class="r-promozioni">
  <div class="promo-grid">
    <% if @promotions.present? %>
      <% @promotions.each do |promotion| %>
        <div class="promo-box">
          <p style="font-weight: bold;">Tipo Promozione: <span style="font-weight: normal;"><%= promotion.tipo %></span></p>
          <p style="font-weight: bold;">Data Inizio: <span style="font-weight: normal;"><%= promotion.data_inizio %></span></p>
          <p style="font-weight: bold;">Data Fine: <span style="font-weight: normal;"><%= promotion.data_fine %></span></p>
          <p style="font-weight: bold;">Condizioni: <span style="font-weight: normal;"><%= promotion.condizioni %></span></p>
        </div>
        <div class="vertical-divider" style="height: 100px;"></div>
      <% end %>
    <% else %>
      <p>Nessuna promozione attiva</p>
    <% end %>
  </div>
</div>

<h3>Stories Social</h3>
<div class="r-stories">
  <div class="r-storia">
    <p>storia</p>
  </div>
</div>

<h3>Recensioni</h3>
<div class="r-recensioni">
  <div class="public-r-reviews">
    <%= image_tag 'background.jpg'%>
    <div class="public-review-details">
      <h3>Nome Utente</h3>
      <p>n. stelle</p>
      <p>Testo della recensione. Il testo dovrebbe rispettare dei caratteri minimi e massimi e dobbiamo decidere come gestirne la visualizzazione</p>
      <p style="font-style: italic; font-size: 13px;">in data DATA</p>
    </div>
    
  </div>
</div>

<h3>Ricette Condivise</h3>
<div class="r-ricette">
  <% if @recipes.any? %>
    <% @recipes.each do |recipe| %>
      <div class="r-ricetta">
        <% if recipe.photo.present? %>
          <%= image_tag recipe.photo, class: 'ricetta-foto' %>
        <% else %>
          <%= image_tag 'background.jpg', class: 'ricetta-foto' %>
        <% end %>
        <div class="ricetta-info">
          <p>Nome: <%= recipe.name %></p>
          <p>Difficoltà: <%= recipe.difficulty %></p>
          <p>Ingredienti: <%= recipe.ingredients %></p>
          <p>Procedimento: <%= recipe.procedure %></p>
        </div>
      </div>
    <% end %>
  <% else %>
    <p>Il ristoratore non ha condiviso alcuna ricetta.</p>
  <% end %>
</div>

<h3>Eventi</h3>
<div class="r-eventi">
  <% if @eventi.any? %>
    <% @eventi.each do |evento| %>
      <div class="r-evento">
        <% if evento.locandina.present? %>
          <%= image_tag evento.locandina, class: 'evento-foto'  %>
        <% else %>
          <%= image_tag 'background.jpg', class: 'evento-foto' %>
        <% end %>
        <div class="evento-info">
          <p><%= evento.nome %></p>
          <p>Data: <%= evento.data %></p>
          <p>Luogo: <%= evento.luogo %></p>
          <p>Desc: <%= evento.descrizione %></p>
        </div>
      </div>
    <% end %>
  <% else %>
    <p>Il ristoratore non ha creato alcun evento.</p>
  <% end %>
</div>
