<div class="impostazioni">
  <% if flash[:notice] %>
            <div class="alert alert-success" role="alert">
                <%= flash[:notice] %>
            </div>
            <% end %>

            <% if flash[:alert] %>
            <div class="alert alert-danger" role="alert">
                <%= flash[:alert] %>
            </div>
        <% end %>
  <h1>Impostazioni</h1>
  <p>Stile dell'applicazione</p>
  <div class="s-section">
    <%= form_for(@setting, url: settings_path, method: :put) do |f| %>
      <div class="field">
        <%= f.label :font, "Font: " %>
        <%= f.select :font, [["Arial", "arial"], ["Times New Roman", "times"], ["Courier New", "courier"], ["Poppins", "poppins"]], prompt: "Seleziona un font" %>
      </div>

      <div class="field">
        <%= f.label :font_size, "Dimensione del testo: " %>
        <%= f.select :font_size, [["Piccolo", "small"], ["Medio", "medium"], ["Grande", "large"]], prompt: "Seleziona una dimensione" %>
      </div>

      <div class="field">
        <%= f.label :theme, "Tema: " %>
        <%= f.select :theme, [["Giorno", "day"], ["Notte", "night"]], prompt: "Seleziona un tema" %>
      </div>

      <div class="actions">
        <%= f.submit "Salva Impostazioni" %>
      </div>
    <% end %>
  </div>

  <p>Gestisci le tue credenziali</p>
  <div class="s-section">
    <%= form_for(@current_user, url: update_credentials_path, method: :put, html: { onsubmit: "return confirmPassword()" }) do |f| %>
  <% if @current_user.cliente && @current_user.cliente.ristoratore %>
    <div class="field">
      <%= f.label :piva, "Piva: " %>
      <%= f.text_field :piva, value: @current_user.cliente.ristoratore.piva %>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email, "Email: " %>
    <%= f.email_field :email %>
  </div>

  <!-- Campo nascosto per current_password -->
  <%= hidden_field_tag :current_password, nil, id: "current_password_field" %>
  
  <div class="field">
    <%= f.label :password, "Nuova Password: " %>
    <%= f.password_field :password, id: "password_field", onchange: "toggleConfirmPassword()" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "Conferma Nuova Password: " %>
    <%= f.password_field :password_confirmation, id: "password_confirmation_field", disabled: true %>
  </div>

  <div class="actions">
    <%= f.submit "Aggiorna Credenziali" %>
  </div>
<% end %>

  </div>
</div>

<script>
  function toggleConfirmPassword() {
    var passwordField = document.getElementById("password_field");
    var confirmPasswordField = document.getElementById("password_confirmation_field");
    if (passwordField.value.length > 0) {
      confirmPasswordField.disabled = false;
    } else {
      confirmPasswordField.disabled = true;
      confirmPasswordField.value = "";
    }
  }

  function confirmPassword() {
  var currentPassword = window.prompt("Inserisci la tua password attuale per confermare:");
  if (currentPassword) {
    document.getElementById("current_password_field").value = currentPassword;
    return true;
  } else {
    return false; // Utente ha annullato il prompt
  }
}

</script>

