<div class="impostazioni">
  <% if flash[:notice] %>
    <div class="alert alert-success" role="alert">
      <%= flash[:notice] %>
    </div>
  <% end %>

  <% if flash[:alert] %>
    <div class="alert alert-danger" role="alert">
      <%= flash[:alert] %>
    </div>
  <% end %>
  <h1>Impostazioni</h1>
  <p>Stile dell'applicazione</p>
  <div class="s-section">
    <%= form_for(@setting, url: settings_path, method: :put) do |f| %>
      <div class="field">
        <%= f.label :font, "Font: " %>
        <%= f.select :font, [["Arial", "arial"], ["Times New Roman", "times"], ["Courier New", "courier"], ["Poppins", "poppins"]], prompt: "Seleziona un font" %>
      </div>

      <div class="field">
        <%= f.label :font_size, "Dimensione del testo: " %>
        <%= f.select :font_size, [["Piccolo", "small"], ["Medio", "medium"], ["Grande", "large"]], prompt: "Seleziona una dimensione" %>
      </div>

      <div class="field">
        <%= f.label :theme, "Tema: " %>
        <%= f.select :theme, [["Giorno", "day"], ["Notte", "night"]], prompt: "Seleziona un tema" %>
      </div>

      <div class="actions">
        <%= f.submit "Salva Impostazioni" %>
      </div>
    <% end %>
  </div>

  <p>Gestisci le tue informazioni</p>
  <div class="s-section">
    <%= form_for(@current_user, url: update_credentials_path, method: :put, html: { onsubmit: "return confirmPassword()" }) do |f| %>
      <!-- Cliente fields -->
      <%= f.fields_for :cliente do |cliente_form| %>
        <div class="field">
          <%= cliente_form.label :foto, "Foto: " %>
          <%= cliente_form.file_field :foto %>
        </div>

        <!-- Ristoratore fields -->
        <% if session[:role] == 'Ristoratore' %>
          <%= cliente_form.fields_for :ristoratore do |ristoratore_form| %>
            <div class="field">
              <%= ristoratore_form.label :nomeristorante, "Nome Ristorante: " %>
              <%= ristoratore_form.text_field :nomeristorante %>
            </div>

            <div class="field">
              <%= ristoratore_form.label :indirizzo, "Indirizzo: " %>
              <%= ristoratore_form.text_field :indirizzo %>
            </div>

            <div class="field">
              <%= ristoratore_form.label :piva, "Piva: " %>
              <%= ristoratore_form.text_field :piva %>
            </div>
          <% end %>
        <% end %>

        <!-- User fields -->
        <% if session[:role] == 'User' %>
          <%= cliente_form.fields_for :user do |user_form| %>
            <div class="field">
              <%= user_form.label :username, "Username: " %>
              <%= user_form.text_field :username %>
            </div>

            <div class="field">
              <%= user_form.label :nome, "Nome: " %>
              <%= user_form.text_field :nome %>
            </div>

            <div class="field">
              <%= user_form.label :cognome, "Cognome: " %>
              <%= user_form.text_field :cognome %>
            </div>
          <% end %>
        <% end %>
      <% end %>

      <!-- Email field -->
      <div class="field">
        <%= f.label :email, "Email: " %>
        <%= f.email_field :email %>
      </div>

      <!-- Hidden field for current_password -->
      <%= hidden_field_tag :current_password, nil, id: "current_password_field" %>
      
      <!-- Password field -->
      <div class="field">
        <%= f.label :password, "Nuova Password: " %>
        <%= f.password_field :password, id: "password_field", onchange: "toggleConfirmPassword()" %>
      </div>

      <!-- Password confirmation field -->
      <div class="field">
        <%= f.label :password_confirmation, "Conferma Nuova Password: " %>
        <%= f.password_field :password_confirmation, id: "password_confirmation_field", disabled: true %>
      </div>

      <!-- Submit button -->
      <div class="actions">
        <%= f.submit "Aggiorna Credenziali" %>
      </div>
    <% end %>
  </div>

  </div>
</div>

<script>
  function toggleConfirmPassword() {
    var passwordField = document.getElementById("password_field");
    var confirmPasswordField = document.getElementById("password_confirmation_field");
    if (passwordField.value.length > 0) {
      confirmPasswordField.disabled = false;
    } else {
      confirmPasswordField.disabled = true;
      confirmPasswordField.value = "";
    }
  }

  function confirmPassword() {
  var currentPassword = window.prompt("Inserisci la tua password attuale per confermare:");
  if (currentPassword) {
    document.getElementById("current_password_field").value = currentPassword;
    return true;
  } else {
    return false; // Utente ha annullato il prompt
  }
}

</script>

