<div class="impostazioni">
  <h1>Impostazioni</h1>
  <p>Stile dell'applicazione</p>
  <div class="s-section">
    <p>
      <strong>Font: </strong>
      <%= @setting.font %>
    </p>

    <p>
      <strong>Dimensione del testo: </strong>
      <%= @setting.font_size %>
    </p>

    <p>
      <strong>Tema: </strong>
      <%= @setting.theme == 'day' ? 'Giorno' : 'Notte' %>
    </p>
  </div>
  <p>Gestisci le tue preferenze</p>
  <div class="s-section">
    <p>Gestisci le notifiche</p>
    <p>Tag di preferenza</p>
  </div>

  <%= link_to 'Modifica Impostazioni', edit_settings_path %>

  <%= form_with url: settings_path(current_user), method: :delete, format: :html, data: { confirm: 'Sei sicuro di voler eliminare il tuo account?' } do %>
    <%= submit_tag 'Elimina l\'account' %>
  <% end %>
  
  
</div>
