<div class="pagina-vetrina-utente">
    <h1 style="font-size: 40px; margin-bottom: 20px;">Profilo di <span style="color: #28a745;"><%= @critico.user.nome %></span></h1>
    <div class="public-u-foto-info">
        <div class="public-u-foto">
            <% if @critico.user.cliente.foto.present? %>
                <%= image_tag @critico.user.cliente.foto %>
            <% else %>
                <%= image_tag 'user.jpg' %>
            <% end %>
        </div>
        <div class="public-u-info">
            <p style="font-weight: bold;">Nome: <span style="font-weight: normal;"><%= @critico.user.nome %></span></p>
            <p style="font-weight: bold;">Cognome: <span style="font-weight: normal;"><%= @critico.user.cognome %></span></p>
            <p style="font-weight: bold;">Iscrizione: <span style="font-weight: normal;"><%= @critico.created_at.strftime('%d/%m/%Y') %></span></p>
            <% if @critico.certificato? %>
                <%= link_to image_path(@critico.certificato), target: '_blank' do %>
                    'Certificato'
                <% end %>
            <% end %>
        </div>
    </div>
    <% if @current_user.present? && @current_user.cliente.id != @critico.user.cliente.id %>
    <div class="public-u-follow-btn">
    <button type="button" class="report-icon" id="report-rest" style="background-color: rgb(221, 60, 60);" data-report="<%= @critico.user_id %>" data-type="user">Segnala</button>
    </div>
    <% end %>

    <hr class="solid" id="divider" style="width: 80%;">
    <h1>Attestati</h1>
    <div class="public-u-attestati">
    </div>
    <hr class="solid" id="divider" style="width: 80%;">
    <h1>Ultime Recensioni</h1>
    <div class="public-u-recents-reviews" style="max-height: 600px; overflow-y: scroll;">
        <div class="r-pub-recensioni" style="max-height: 600px; overflow-y: scroll;">
        <% if @reviews.any? %>
            <% @reviews.each do |review| %>
                <div class="public-r-reviews" style="margin-bottom: 20px; display: flex; flex-direction: row; ">
                    <div class="public-foto-details">
                        <% if review.ristoratore.cliente.foto.present? %>
                            <%= image_tag review.ristoratore.cliente.foto %> <!-- Supponendo che il ristorante abbia un'immagine associata -->
                        <% else %>
                            <%= image_tag 'background.jpg' %>
                        <% end %>
                        <div class="public-review-details">
                            <p>
                            <%= link_to public_restaurant_profile_path(review.ristoratore.id), style: "color: black; " do %>
                                <%= review.ristoratore.nomeristorante %><br>
                            <% end %>
                                <% review.stelle.times do %>
                                    <ion-icon name="star" style="font-size: 15px;"></ion-icon>
                                <% end %> <br>
                                <%= truncate(review.commento, length: 200) %><br> <!-- Tronca il testo della recensione a 200 caratteri -->
                                <span style="font-style: italic; font-size: 13px;">in data <%= review.created_at.strftime('%d/%m/%Y') %></span>
                            </p>
                        </div>
                    </div>
                    <div class="public-r-rev-icon">
                    <% if session[:role] == 'Admin' %>
                    <i class="fa-solid fa-trash"></i>
                    <% elsif @current_user.present? %>
                        <i class="fa-regular fa-thumbs-up"></i>
                        <% if @current_user.cliente.id != review.cliente_id%>
                        <i class="fa fa-exclamation-circle report-icon" data-report="<%= review.id %>" data-type="recensione"></i>
                        <% end %>
                  <% end %> 
                        
                    </div>
                </div>
            <% end %>
        <% else %>
            <p style="color: gray; ">L'utente non ha lasciato alcuna recensione.</p>
        <% end %>
        </div>
    </div>


    <hr class="solid" id="divider" style="width: 80%;">
    <h1>Competizioni a cui l'utente partecipa</h1>

    <div class="public-u-competitions">
        <% if @iscrizioni.any? %>
            <% @iscrizioni.each do |iscrizione| %>
            <% competizione = Competizione.find(iscrizione.competizione_id) %>
        <div class="public-u-competition-box">
        <% if competizione.locandina.present? %>
            <%= image_tag competizione.locandina %>
            <% else  %>
            <%= image_tag "background.jpg"  %>
            <% end  %>
            <div class="public-u-competition-box-info">
                <p style="font-weight: bold;">Nome Competizione: <span style="font-weight: normal;"> <%= competizione.nome %></span></p>
                <p style="font-weight: bold;">Punti: <span style="font-weight: normal;"><%= iscrizione.punti_competizione %></span></p>
                <p style="font-weight: bold;">Posizione in Classifica: <span style="font-weight: normal;"><%= @posizioni[competizione.id] %></span></p>
            </div>

        </div>
        <% end %>
          <% else %>
            <p style="color: gray; ">Nessuna competizione trovata</p>
          <% end %>
    </div>

</div>

<div id="reportModal" class="modal">
<div class="modal-content">
  <span id="closeReport" class="close">&times;</span>
  <h2>Fai la tua segnalazione</h2>
  <% if current_user.present? %>
    <%= form_with( url: segnalaziones_path, method: "post", local: true) do |form| %>
      <%= form.hidden_field :data_id%>
      <%= form.hidden_field :type%>
      Motivo della segnalazione
      <br><br>
      <%= form.label :commento, "Commento:" %>
      <%= form.text_area :commento, id: "commento", rows: 4, cols: 50 %>
      <br><br>
      <%= form.submit "Invia" %>
    <% end %>
  <% end %>
</div>
</div>

<div id="reportModal" class="modal">
        <div class="modal-content">
          <span id="closeReport" class="close">&times;</span>
          <h2>Fai la tua segnalazione</h2>
          <% if current_user.present? %>
            <%= form_with( url: segnalaziones_path, method: "post", local: true) do |form| %>
              <%= form.hidden_field :data_id%>
              <%= form.hidden_field :type%>
              Motivo della segnalazione
              <br><br>
              <%= form.label :commento, "Commento:" %>
              <%= form.text_area :commento, id: "commento", rows: 4, cols: 50 %>
              <br><br>
              <%= form.submit "Invia" %>
            <% end %>
          <% end %>
        </div>
    </div>

    <div id="changeReviewModal" class="modal">
  <div class="modal-content">
    <span id="closeChangeModal" class="close">&times;</span>
    <h2>Modifica la tua Recensione</h2>
    <%= form_with( url: update_review_path, method: "post") do |form| %>
      <%= form.hidden_field :reviewId%>
      <div>
        <label>Stelle:</label>
        <div class="star-rating" id="reviewStars">
          <svg class="star" viewBox="0 0 576 512" onclick="selectNewStar(1)">
            <use xlink:href="#empty-star"></use>
          </svg>
          <svg class="star" viewBox="0 0 576 512" onclick="selectNewStar(2)">
            <use xlink:href="#empty-star"></use>
          </svg>
          <svg class="star" viewBox="0 0 576 512" onclick="selectNewStar(3)">
            <use xlink:href="#empty-star"></use>
          </svg>
          <svg class="star" viewBox="0 0 576 512" onclick="selectNewStar(4)">
            <use xlink:href="#empty-star"></use>
          </svg>
          <svg class="star" viewBox="0 0 576 512" onclick="selectNewStar(5)">
            <use xlink:href="#empty-star"></use>
          </svg>
        </div>
        <%= form.hidden_field :stelle, id: "new_stars" %>
      </div>
      <br><br>
          <%= form.label :new_comment, "Commento:" %>
          <%= form.text_area :new_comment, id: "new_comment", rows: 4, cols: 50 %>
      <br><br>
      <%= form.submit "Invia" %>
    <% end %>
    <%= form_with(url: review_path, method: "delete") do %>
      <%= hidden_field_tag :Rid %>
      <button type="submit">Elimina</button>
    <% end %>
  </div>
</div>

<script>
//JS modale segnalazione
document.addEventListener("DOMContentLoaded", function() {
  
  document.querySelectorAll('.report-icon').forEach(icon => {
    icon.addEventListener('click', (event) => {
      const review = event.target.getAttribute('data-report');
      const type = event.target.getAttribute('data-type');

      document.getElementById('data_id').value = review;
      document.getElementById('type').value = type;


      openReportModal();
    });
  });

  function openReportModal() {
    document.getElementById('reportModal').style.display = 'block';
  }

  function closeReportModal() {
    document.getElementById('reportModal').style.display = 'none';
  }

  window.onclick = function(event) {
    var modal = document.getElementById('reportModal');
    if (event.target == modal) {
      modal.style.display = 'none';
    }
  }
  document.querySelector('#closeReport').onclick = closeReportModal;

  
});
</script>